<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- For profile pictures -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- For attachments -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatterBox.NoActionBar"
        tools:targetApi="31">

        <service
            android:name=".accessibility.AccessibilityService"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="ChatterBox Voice Assistant">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".accessibility.overlay"
            android:exported="false">
        </service>

        <service
            android:name=".accessibility.ScreenOnService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>

        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccessibilityPromoActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SavedPostsActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".PostDetailActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SearchUsersActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ForumActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ForumPostsActivity"
            android:exported="true">
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".ForumEditActivity" />
    </application>

</manifest>